@import '../breakpoints.scss';


.container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content:  center;
    align-items: center;
    margin: 10px;
    font-family:'RiformaLL-Regular';
    padding: 80px 16px;
    
    @include md {
        background-color: red;
    }
    
    @include lg {
        background-color: green
       }
}


.image {
    height: 35%;
}

.image img {
    width:100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-top: 32px;
}

.title {
    text-align: left;
    font-size: 20px;
    line-height: 150%;
    width: 100%;
}

.text1 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 32px;
}

.text2 {
  text-align: left;
  color: #656565;
  font-size: 20px;
  line-height: 150%;
}
